# Dependencies
node_modules/

# Build
dist

# Logs
logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Environment
.env
.env.*
!.env.example

# Vite
*.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# OS
.DS_Store

tmp
